<?xml version="1.0"  encoding="UTF-8"?>
<!-- Not used/ just for tutorial example -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
	<bean id="redSox" class="com.popa.beans.RedSox"/>		
	<bean id="cubsTeam" class="com.popa.beans.CubsTeam"/>		
</beans>